<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css" integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/made.css">
    <title>made</title>
</head>

<section>
    <div class="container section-flex"> 
        <div>
        <h1 class="made-title">HOW IT'S <span class="made-subtitle">MADE?</span></h1>
        <picture class="made-picture">
            <img src="../images/video-image.jpg" alt="video" width="335">
        </picture>
        <svg class="video-icon" width="35" height="35">
            <use href="../images/symbol-defs.svg#icon-play"></use>
        </svg>
        </div>
        <div class="made-paragraph">
        <p class="ingridients-title"> Try  our chocolates today and discover the perfect balance of flavor</p>
        <ul>
            <span> <svg>
                <use href="../images/symbol-defs.svg#icon-Ellipse-1" width="8" height="8"></use>
            </svg></span> 
            <li class="ingridients-text">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
            <li class="ingridients-text">At the same time, prepare a water bath. Melt the butter on it.</li>
            <li class="ingridients-text">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
            <li class="ingridients-text">Heat the mixture over low heat, letting it barely boil.</li>
            <li class="ingridients-text">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
        </ul>
        
        </div>
    </div>
</section>